name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run compile
    - run : echo "ref ${{ github.ref }}"
    - run: npm publish
      if: success() && github.ref == 'master'
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}