name: Language Sevice

on: 
  push:
    paths:
      - 'src/language-service/*'  
      - '.github/*'  
  pull_request:
    paths:
      - 'src/language-service/*'  
      - '.github/*'  

jobs:
  language-service:
    name: Language Service
    runs-on: ubuntu-latest 

    steps:
    
    - uses: actions/checkout@master

    - name: Use Node.js 12.x
      uses: actions/setup-node@master
      with:
        node-version: 12.x

    - name: NPM Install
      working-directory: src/language-service
      run: |
        rm package-lock.json
        npm install

    - name: NPM Compile
      working-directory: src/language-service
      run: npm run compile

    # - name: Create .npmrc
    #   working-directory: src/language-service
    #   run: echo "//registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN" >> ~/.npmrc
    #   env:
    #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}      

    - name: NPM Publish to Registry
      working-directory: src/language-service
      if: success() && github.ref == 'refs/heads/master'
      env:
        NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        npm publish src/language-service

    # - name: NPM Publish to Registry
    #   uses: actions/npm@master 
    #   if: success() && github.ref == 'refs/heads/master'
    #   env:
    #     NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    #   with:
    #     args: publish src/language-service 